/* @ BLOOD MOON A: GENERAL COLORS */
.theme-dark.bl-moon {
    --background-primary: var(--red1);
    --background-primary-alt: transparent;
    --background-secondary: rgb(24, 5, 5);
    --background-secondary-alt:var(--red1);
    --background-modifier-border: rgb(54, 16, 22);

    --text-accent: var(--red3);
    --text-accent-hover: var(--red3);
    --text-error: orange;
    --text-normal: rgb(255, 255, 255);

    --text-highlight-bg: var(--hlbg);
    --text-selection: var(--hlbg);

    --interactive-accent: var(--blue2);
    --interactive-hover: white;
    --interactive-accent-hover: var(--blue2);

    --migrad1: rgb(117, 30, 30);
    --migrad2: rgb(134, 39, 32);
    --migrad3: rgb(119, 64, 64);

    --mitext1: rgb(228, 90, 90);
    --mitext2: rgb(185, 69, 61);
    --mitext3: rgb(230, 119, 104);

    --mgrad1: rgb(190, 141, 33);
    --mgrad2: rgb(196, 75, 85);
    --mgrad3: rgb(177, 174, 176);
    --mgrad4: rgb(209, 149, 92);
    --mgrad5: rgb(149, 156, 43);
    --mgrad6: rgb(160, 164, 168);
}

/* @ BLOOD MOON B: WORKSPACE */
    .theme-dark.bl-moon {
        /* ! Icons */
        --col-svg: rgb(150, 118, 118);
        --cola-svg: rgb(199, 140, 31);

        /* ! Vault Title*/
        --vtfont: var(--font-space-header);
        --vtcolor1:  #ebb1c2;
        --vtcolor2: #804309;

        /* ! Header Image*/
        --dhead-img: url("https://github.com/Emrie-Candera/Bubble-Space-Theme/blob/main/theme%20image/Red%20Moon.png?raw=true");
        --dhi-h: 80px;
        --dhi-w: 230px;
        --dhi-mt: -8px;
        --dhi-mb: -10px;
        --dhi-ml: 3%;    

         /* ! Header Icon */
         --hic-ico: var(--lhic-ico);
         --lhic-ico: var(--svg-vault);
         --hic-fsize: 5px;
 
         /* ! Header Text */
         --lht-text: 👋 I hope you have a great day!;
         --lht-fsize: 20px;
         --ht-fcol: rgb(90, 171, 236);

        /* ! Folder Container*/
        --fx-folcol: rgb(231, 164, 40);
        --fx-tfolcol: rgb(231, 238, 245);
        --fx-ficol: var(--text-normal);
        --fi-act: rgb(235, 91, 91);
        --fcol-in: var(--pink3);

        /* ! Iterative Folder Colors*/
        --fgrad1: rgb(128, 27, 27); 
        --fgrad2: rgb(136, 9, 9);
        --fgrad3: rgba(255, 0, 0, 0.568);
        --fgrad4: rgb(114, 17, 17);
        --fgrad5: rgba(126, 11, 11, 0.836);
        --fgrad6: rgba(92, 16, 16, 0.849);
        --fgrad7: rgb(65, 7, 7);
        --fgrad8: rgba(255, 2, 2, 0.685);

        /* ! Active Note Title Bar*/
        --m-vhead: rgba(66, 6, 6, 0.824);

        --ant-col1: rgba(139, 69, 12, 0.63);
        --ant-col2: rgba(179, 61, 52, 0.71);
        --ant-col3: rgba(237, 85, 85, 0.24) ;

        --act-svg: rgb(179, 169, 139);

        /* ! Metadata Codeblock*/
        --trule: rgb(235, 95, 95);
        --tstring: rgb(241, 240, 235);

        /* ! Document Search */
        --ds-bg: rgb(48, 5, 5); 
        --ds-err: rgba(104, 88, 53, 0.664);

        /* ! Empty Note*/
        --es-con: "(◕‸◕ )";
        --es-col: rgb(139, 35, 35);
        --es-dfsize: 1.5em;
        --es-dtfize: 1.5em;

        /* ! Workspace Tab Header*/
        --wth-hov: rgb(230, 103, 103);
        --col-tbar: rgb(247, 121, 90);

        /* ! Tag Pane Flair*/
        --dfborder: 3px; 
        --dtree-b4: "★"; 
        --dfl-fil: rgb(151, 39, 39) 0px 0px 5px, rgb(184, 71, 71) 0px 0px 10px, rgb(216, 137, 137) 0px 0px 15px, #ff2d2d 0px 0px 20px, #ff2d2db6 0px 0px 30px, 2px 2px 2px rgba(206, 55, 55, 0);
        --dhov-sh: 10px 10px 4px rgb(194, 60, 60);
        
        --flair1: rgb(216, 161, 60);
        --flair2: rgb(255, 192, 192);
        --flair3: rgb(214, 209, 218);
        --flair4: rgb(243, 218, 186);
        --flair5: rgb(186, 240, 179);
        --flair6: rgb(207, 193, 207); 

        /* ! Graph*/
        --garrow:  rgb(117, 174, 184);
        --gtag: #18947f;
        --gattach: #083daf;
        --gfill:  rgb(117, 174, 184);
        --gunfill: #3c68c791;
        --gcircle: var(--text-normal);
        --gline: var(--blue8);
        --gtext: var(--text-normal);
        --ghl: var(--gold2);
        --glhl: var(--blue2);

        /* ! Side Dock Ribbon*/
        --srbor: transparent;
        --sbort: #c45454af solid 1px;
        --sborl: #e7d6a7b9 solid 1px;
        --srshad: inset -4px -4px 4px -3px #aa6060d0;
        --srbr: 8px;
        --srcol: rgb(245, 229, 229);

        /* ! Modal*/
        --mbg: rgb(48, 7, 7);
        --mgbg: rgb(121, 81, 9);
        --mo-bg: linear-gradient(191deg, rgba(143, 53, 53, 0.336) 0%, rgba(35, 3, 3, 0.445) 29%, rgba(97, 55, 20, 0.295) 60%, rgba(63, 6, 6, 0.144) 76%, rgba(73, 8, 8, 0.301) 96%);

        /* ! Store Items*/
        --theme-sel: rgb(80, 52, 9);
        --button-col: rgb(202, 217, 224);
        --button-bg:linear-gradient(rgb(66, 7, 7), #422908);

        /* # Buttons */
        --bbor: transparent;
        --bbort: #c45454af 2px solid;
        --bborl: #e7a7a7b9 1px solid;
        --bshad: inset -4px -4px 4px -3px #a8302cd0;

        --bwarn: rgb(138, 108, 27);
        --bwbort: rgb(119, 95, 28) 2px solid;
        --bwborl: rgb(212, 130, 24) 1px solid;
        --bwshad: inset -4px -4px 4px -3px rgb(145, 107, 57);

        /* # Scrollbar*/
        --gscroll1: rgba(168, 72, 16, 0.466);
        --gscroll2: rgba(143, 20, 16, 0.795);
        --gscroll3: rgba(237, 78, 78, 0.753);
        --gscroll4: rgba(187, 110, 110, 0.829);
        --gscroll5: rgba(209, 45, 45, 0.589);

        /* # Slider*/
        --slide1: rgb(100, 84, 71);
        --slide2: rgb(185, 32, 32);

        /* # Notice*/
        --nbg: rgba(201, 176, 109, 0.911);
        --nshad: rgb(209, 180, 52);

        /* # Toggle*/
        --togcon: "🌑";
        --togcona: "🌕";
        --togbg: rgb(184, 82, 82);
        --togsz: 20px;

        /* # Dropdown */
        --dbor: transparent;
        --dbort: #c45454af 2px solid;
        --dborl: #e7a7a7b9 1px solid;
        --dshad: inset -4px -4px 4px -3px #a8302cd0;
    }

/* @ BLOOD MOON C: MARKDOWN*/
.theme-dark.bl-moon {
    --fbold: var(--gold2);
    --fitalic: var(--blue9);
    --flink: var(--text-accent);
    --fcode: var(--cream2);
    --hlbg: rgb(99, 29, 27);
    --comcolor: rgb(228, 135, 181);

    /* # Header Colors*/
    --head1: rgb(155, 25, 25);
    --head2: rgb(145, 66, 66);
    --head3: rgb(146, 44, 44);
    --head4: rgb(185, 65, 35);
    --head5: rgb(114, 96, 64);
    --head6: rgb(138, 98, 29);
    
    /* # Tags*/
    --tborder: rgb(124, 27, 27);
    --tb4: "🌟";
    --tcolor: rgb(243, 220, 234);
    --tcol1: rgb(68, 10, 10);
    --tcol2: rgb(94, 13, 13);
    --tcol3: rgb(70, 9, 9); 

    /* # Bullets/Numbers*/
    --blcol: var(--gold1);
    --bul-b4: var(--tree-b4);

    /* # Checklist*/
    --uncheck: "\2606";
    --check: "\2605";
    --checkcol: var(--gold1);
    --cshad: none;
    --untask: rgb(221, 107, 107);
    --task: rgb(202, 129, 18);

    /* # Blockquotes*/
    --bq-col: rgb(114, 14, 14);
    --equote:rgb(175, 61, 61) ;

    /* # Table*/
    --thead: rgb(80, 8, 8);
    --td: rgb(37, 14, 5);
    --tbcol1: rgba(54, 21, 21, 0.788);
    --tbcol2: rgba(80, 27, 20, 0.637);
    --tbcol3: rgba(82, 36, 32, 0.671);
    --thov:  rgb(88, 18, 16);

    --todd: rgb(175, 46, 23);
    --teven: rgb(180, 59, 59);
    --ttext: rgb(155, 112, 21);
    --tfhead: rgb(150, 120, 38);

     /* # HR*/
    --hrcon: "🌟";
    --hrcol: rgb(221, 87, 87);
    --hrtrans: translate(-50%, -50%) rotate(0deg);

    /* # Progress Bars*/
    --prcol2: var(--dp1);
    --prcol1: var(--dp2);
    --prcol3: var(--dp3);
    --prcol4: var(--dp4);
    --prcol5: var(--dp5);
    --prcol6: var(--dp6);
    --prcol7: var(--dp7);
    --prcol8: var(--dp8);
    --prcol9: var(--dp9);
    --prcol10: var(--dp10);
    --prbg: rgba(146, 150, 175, 0.678);

    /* # Cite*/
    --ctcol: rgb(250, 114, 114);
    --ctcon: rgb(180, 137, 56);
    --ct-b4: "★";
    --ct-a4: "★";
}

/* @ BLOOD MOON D: Additional Snippets*/
.theme-dark.bl-moon {
    --kodd: rgb(77, 21, 17);
    --keven: rgb(87, 9, 9);
    --khov: rgb(82, 57, 20);

    --metacon1: "✫";
    --metacon2: "✫";
    --metacol1: var(--gold2);
    --metacol2: var(--purple1);

    --lpcol: white;
    --lb-bg: rgb(58, 6, 6);
    --lpgif: url("https://github.com/Emrie-Candera/Bubble-Space-Theme/blob/main/theme%20image/Astronaut.gif?raw=true");

    --as-bg: rgba(190, 155, 59, 0.664);
}

/* @ BLOOD MOON E: Plugins*/
.theme-dark.bl-moon {
    --adico: rgb(207, 197, 170) !important;
    --adshad: rgba(77, 78, 80, 0.521);
    
    --fico: rgb(204, 227, 241);
    --subfico: var(--gold2);

    --calcol: white;
    --calshad:  1px 0px 15px 1px rgb(179, 37, 37);
    --calbor: rgb(179, 45, 45) solid 2px;
    --calbg: transparent;

    --dpline: var(--gold1);
    --dpdot: var(--gold1);
    --dptitle: white;
    --dpnow: var(--blue2);
    --dphov: rgb(31, 81, 128);;
    --dpshad: 0px 0px 52px -18px rgba(18, 52, 102, 0.75);
    
    --dp1: var(--fgrad1);
    --dp2: var(--fgrad2);
    --dp3: var(--fgrad3);
    --dp4: var(--fgrad4);
    --dp5: var(--fgrad5);
    --dp6: var(--fgrad6);
    --dp7: var(--fgrad7);
    --dp8: var(--fgrad8);
    --dp9: #912929;
    --dp10: #751919;

    --checkcol2: rgb(145, 113, 26);
    --chbg: rgb(49, 11, 11);
}
