/* @ BOBA MILK TEA A: GENERAL COLORS */
.theme-light.milk-tea {
    --background-primary: var(--cream6);
    --background-secondary: var(--cream7);
    --background-secondary-alt: var(--cream1);
    --background-modifier-border: var(--cream2);

    --text-accent: var(--brown1);
    --text-accent-hover: var(--brown1);
    --text-normal: rgb(59, 48, 41);
    --text-error: var(--pink5);

    --text-highlight-bg: var(--hlbg);
    --text-selection: var(--hlbg);
    --text-error: var(--pink4);

    --interactive-accent: var(--cream3);
    --interactive-hover: var(--cream3);
    --interactive-accent-hover: var(--cream3);

    --migrad1: var(--fgrad3);
    --migrad2: var(--fgrad4);
    --migrad3: var(--fgrad5);

    --mitext1: rgb(211, 151, 82);
    --mitext2: rgb(187, 137, 28);
    --mitext3: rgb(148, 89, 21);

    --mgrad1: rgb(105, 65, 12);
    --mgrad2: rgb(197, 129, 50);
    --mgrad3: rgb(110, 49, 95);
    --mgrad4: rgb(126, 124, 17);
    --mgrad5: rgb(170, 73, 105);
    --mgrad6: rgb(0, 0, 0);
}

/* @ BOBA MILK TEA B: WORKSPACE */
    .theme-light.milk-tea {
        /* ! Icons */
        --col-svg: rgb(148, 81, 17);
        --cola-svg: rgb(31, 19, 3);
        
        /* ! Vault Title*/
        --vtfont: var(--font-bubble-header);
        --vtcolor1: var(--brown3); 
        --vtcolor2: rgb(37, 37, 37);

        /* ! Header Image*/
        --lhead-img: url("https://github.com/Emrie-Candera/Bubble-Space-Theme/blob/main/theme%20image/Milk%20Tea.png?raw=true");
        --lhi-h: 90px;
        --lhi-w: 300px;
        --lhi-mt: -10px;
        --lhi-mb: -10px;
        --lhi-ml: -10%;

        /* ! Header Icon */
        --hic-ico: var(--lhic-ico);
        --lhic-ico: var(--svg-vault);
        --hic-fsize: 5px;

        /* ! Header Text */
        --lht-text: 👋 I hope you have a great day!;
        --lht-fsize: 20px;
        --ht-fcol: rgb(90, 171, 236);

        /* ! Folder Container*/
        --fx-folcol: rgb(105, 59, 15) !important;
        --fx-tfolcol: rgb(0, 0, 0) !important;
        --fx-ficol: var(--text-normal);
        --fi-act: rgb(185, 91, 14) !important;

        --fcol-in: rgb(0, 0, 0);

        /* ! Iterative Folder Colors*/
        --fgrad1: rgba(196, 142, 26, 0.616); 
        --fgrad2: rgba(226, 154, 60, 0.596);
        --fgrad3: rgba(196, 140, 57, 0.671);
        --fgrad4: rgba(212, 147, 48, 0.74);
        --fgrad5: rgba(167, 130, 52, 0.863);
        --fgrad6: rgb(141, 98, 35);
        --fgrad7: rgba(95, 52, 16, 0.932);
        --fgrad8: rgba(73, 40, 9, 0.836);

        /* ! Active Note Title Bar*/
        --m-vhead: rgb(241, 221, 178);
        
        --ant-col1: rgb(230, 187, 132);
        --ant-col2: rgba(231, 198, 154, 0.76);
        --ant-col3: rgb(245, 222, 179);

        /* ! Metadata Codeblock*/
        --trule: rgb(163, 107, 42);
        --tstring: rgb(20, 20, 20);

        /* ! Document Search */
        --ds-bg: rgb(248, 215, 166); 
        --ds-err: rgb(230, 233, 235);

        /* ! Empty Note*/
        --es-con: "(◕‸◕ )";
        --es-col: rgb(71, 52, 17);
        --es-lfsize: 1.5em;
        --es-ltfize: 1.4em;

        /* ! Workspace Tab Header*/
        --wth-trans: scale(1);
        --col-tbar: rgb(121, 71, 15);

        /* ! Tag Pane Flair*/
        --tree-b4: "⚈";
        --fl-fil: drop-shadow(0px 3px 2px rgb(82, 54, 14));
        
        --flair1: rgb(114, 67, 14);
        --flair2: rgb(110, 70, 18);
        --flair3: rgb(58, 10, 73);
        --flair4: rgb(83, 83, 83);
        --flair5: rgb(155, 56, 106);
        --flair6: rgb(0, 0, 0); 

        /* ! Graph*/
        --garrow: #886d15; /* ? arrow */
        --gtag: #e6ceae; /* ? tag */
        --gattach: #615e5a; /* ? attachments */
        --gfill: var(--brown1); /* ? regular node */
        --gunfill: #d356c2c2; /* ? unresolved links */
        --gcircle: var(--brown1);
        --gline: var(--brown3); /* ? line */
        --gtext: var(--text-normal); /* ? text */
        --ghl: white; /* ? highlighted node */
        --glhl: var(--brown1);   /* ? highlighted line */

        /* ! Side Dock Ribbon*/
        --srcol: var(--brown1);   
        --srbrcol: var(--brown1);
        --srbrcol2: var(--brown1);
        --srshad: inset -4px -4px 4px -3px var(--brown3);
        --srbr: 20px;
        --srcol: white;
        --srbg: rgb(24, 13, 1);

        /* ! Modal*/
        --mbg: rgb(247, 225, 197);
        --mgbg: rgb(54, 29, 8);
        --mo-bg: linear-gradient(191deg, rgba(141, 80, 23, 0.336) 0%, rgba(35, 20, 3, 0.445) 29%, rgba(49, 33, 4, 0.438) 60%, rgba(63, 40, 6, 0.349) 76%, rgba(43, 31, 11, 0.596) 96%);
    
        --hfont: var(--font-bubble-header);

        /* ! Theme Store */
        --hcol: brown;

        --theme-sel: rgb(92, 60, 12);
        --button-col: rgb(2, 2, 2);
        --button-bg:linear-gradient(rgb(255, 255, 255), #d8961d);

        /* ! Buttons*/
        --btcol1: var(--brown3);
        --btcol2: var(--brown8);

        --bwarn: rgb(194, 73, 43);
        --bwbort: rgb(214, 117, 114) 2px solid;
        --bwborl: rgb(163, 70, 27) 1px solid;
        --bwshad: inset -4px -4px 4px -3px rgb(216, 42, 42);

        /* ! Scrollbar*/
        --scrollb: rgba(66, 34, 8, 0.925);

        /* ! Slider*/
        --slide1: rgb(202, 179, 153);
        --slide2: rgb(19, 19, 19);

        /* ! Notice*/
        --nbg: rgb(207, 230, 207);
        --nshad: rgb(79, 187, 69);

        /* ! Toggle*/
        --togcon: "⚈";
        --togcona: "⚈";
        --togbg: rgb(196, 141, 69);
        --togsz: 25px;

        /* ! Dropdown */
        --dcol1: var(--brown3);
        --dcol2: var(--brown8);
}

/* Collapsed Side Ribbon*/
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg {
    color: rgb(250, 224, 184);
}

.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.go-to-file,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.dot-network,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.calendar-with-checkmark,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.documents,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.run-command,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.blocks,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.sheets-in-box,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.dice,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.microphone,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.pane-layout,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.vault,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.open-vault,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.help,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.help,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.link,
.theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action svg.gear {
        color: rgb(250, 224, 184);
        background-color: rgb(250, 224, 184);
    }

.theme-light.milk-tea .prompt .suggestion-item:nth-child(8n+1):hover,
.theme-light.milk-tea .prompt .suggestion-item.is-selected:nth-child(8n+1),
.theme-light.milk-tea .prompt .suggestion-item:nth-child(8n+7):hover,
.theme-light.milk-tea .prompt .suggestion-item.is-selected:nth-child(8n+7), 
.theme-light.milk-tea .prompt .suggestion-item:nth-child(8n):hover,
.theme-light.milk-tea .prompt .suggestion-item.is-selected:nth-child(8n),
.theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n+7)>.nav-folder-title,
.theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n)>.nav-folder-title,
.theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n+1)>.nav-folder-title {
    color: var(--cream5);
}

.theme-light.milk-tea {
    --svg-cal: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAABmJLR0QA/wD/AP+gvaeTAAABP0lEQVQ4jbXVPS8EURTG8d9413gpab0UNFalIqLQiI7eB1Bvu62C8AEUElFQqlCpVKLQiBChpEMhGoq9mx1jdnZmxZPc3Jx7z/nfJyd37vBPam+wPoxxfISRpkFMIsJb3gMr+MJKRs5KyKmkbXYk4j7MYSLEMxng2t4ElnCugfNe3AYXrYzbwPjluIQx3OMqw2maarVTuEiCu8J8g72C4F6MoLu2kOwxTKNcEDySXEgDD4XxJ6WBj7BRkFOWuJpp4GdcZkAirGEfn7GaH2rL4aZf/QuNsINdbGUVNQMP4AwH6MQ21vGEzazCtFbE1YkerKrf1QfM4/Evjl+wgOsAfQpxJjQPOA4/xqyq46Zq1oo4fDlnLvI5bklxx+9hXsRhQU4pwfihdpxq/dk8EfsjRQl4hFHVB7+IXnEXDvhffQO75UzrkCJ+iAAAAABJRU5ErkJggg==");

    --svg-dice: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABtklEQVRIieXVvWpVQRQF4C8hCUmrCKYSLAL+kQdQ8KqoqUxj+hRBRAUfwTyB2lsLYmeZGPUWYmFnISiaBAlByE0K8QGuxVkHxnDO9WosBBdsZjNrzdqzh2GG/wEjmMcqvidWMzdyUPM5vEUfn/EA95P3w839ifFZvIzJF9zAWMGPYgGfonmDS8MYn8RaFm3hJsYH6Mej2cqatXg0Yhp72MFdTO7jj2ETG8lLTGbNTjyma2K0EC3gEC5kF7cxVfDbuIfl5DWmoj2Oi/G43tTBctqEJ8m3cQsTDfqJcNvRPs58P14DC8A5dDO3iaXs7nDyzXDdaGv8VKA8ohJdVesdXEUPj1Tnu5u8F66TokdavBo76KnOtcQsPiRm93E93GnqYEwzllR3u8Q7fC3yEu/xscmo7YieZVddXG7RlOjg+e8UqHEKM0MUaMWvCizhaQt3RdXh0AX2Mp4u5gYd1YyqwxJnMu42FRv0VNS36lWC6lpeS14+Fbs42tJQ62M3H8MXiRpNj92JNvMSHbzOog0sqq50B+eTL4brR9sZxng/yg9nHQ8T6w744ZSov8wVfEus+Etf5r+PHxLVd/faxi8YAAAAAElFTkSuQmCC");

    --svg-graph: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABjklEQVRIie3UPWtUURAG4CdiIViJH42NMTYRsUmfrPZ2IvkFgo2gJPkPghZplqyYVjBdGjtdP1p/gAELBUWTIptoQoIKN8WZzd673OzZRcu8cJhz58y8c858XI4xIq6gjR28xsQQPrP4iA5e4Nwg47fYwOOQbzLk1/EX77AYF1sZ5LCLZuyb2M4EeIgCZ+J7sd/nZJ/DB9zGXsjPmQBFyIaU2inp5UdiQsr9LtaCoIlnWI/bPcdFzOM3/oRdEfvZzKUqaIZjB61YnRLpCs7jDu7j2ijksByEl0q68dDlGmAo/MBSjb6FzWEITmTOC4zV6MdwCtO4avTZOUQ3ReMl3WVs6RW2MNrsVHBXr8hPY23hCyZxS+qk8uzs5EgbeIB72Md7qU038DMCNkr23el/ErI9iHxB9emf9KYUzkoz0irpurPzC69karCOlzgd8nuNTTuCf4sLDUSui/o76KaUnlXpt/JINV1ZzKumaO6I8wux6myymJGKPF1zdiNIV2P1F/y/YEHK/1fpRcf4NxwAedd2raFc+SIAAAAASUVORK5CYII=");

    --svg-help: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAB+klEQVRIibXWO2tUURQF4C9jQhIExSBRwUIIGBFLf4FYWftAf0E6BRsRK+1UtDCNSlBQMaQQLCWaARG0EgUFjYjGN74ImBjzmGhxdmS8zpmZSFxw4c45a++79uuc4T+jZZHc1fH+GT+XQsAu3MNHTGE2nqlYuxucuqpqYQ9OYy0m8RqjeB77PejFeizHBxzAUCPFJVxHBZ9wCK11+G04LKWsEraletHcDOINdDRSU4VODIftcI50EvMYzOzvDgEj2JnhDIWP48WNbnzH04zh5VA3FU8FZzPc0fDVXb04gDlsrGGwBj+kQndiBb5gQu369IavgerFN3iZUbQNM+gv8GexLmMzFpzf+IZyhlzECSnPr+TbvBw+kcKexqUmnO+X8v9VIccFXAyfHaS+ncTtJj6wMNFbGvBGVEUA7+RrsIC2EPKoCSEv8LZ64bwU+uY6RiUcleahHjZIDfBHyldJoT+RH/WuMBxr8IHHUlv/1WHHpCiuZgzbpTr1Z/bhQvg4kyOUg1CWct4s2nAtbO+oc8+04EoQbzXhuIQ+vK+yWVZ0WEvNuHSZbMdB7JM6477U35uwVSroSum4PoJzTYjSJ03qDinfc9K5MxMqK/E+jofBz94BRbRKwzQdqubxQLq1uqTDsCd+/xNOhboJPMNei/tj0BDt0nG8ZPgFzTqF9OoFtuYAAAAASUVORK5CYII=");

    --svg-impo: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QA/wD/AP+gvaeTAAAB1klEQVRIid3UvWsUYRDH8U/uTkU5NagQtFPEf8CQRrCyj4piJ4lviRqRJGB8iaAkoIJvQRHiG3YptRJLi0jQQhuLgBbBwkoJCrExJhY7x63rXu6u1IFld2Z+z3fmeVv+Jys3qFuPDc2AuzGPCbTl5FvQgw9YjGcG++qBywGexjd8RVcG/CCAL9CHt+H3NtL5RIA78CwGHozcgfCHwr8e/nD4PehcCt4WHT/FJsxiJHIv8SZmsCcDHg5/ul73XSGcjffNiM/gWnxfxXeUUuD3WMDKCqiUA3+CX9iK1ejHD+zFrtA8x5looIwb+BzF5+t1n7aR6GwUy1LxnTGDTslSvcJUM+ACtmQKtOMotoemiCuR390M+DG+YF2qQPq5hc2SJbnUDPihZIOOR6wjgCewAufCv4s1jYJbcD/AJ1PxIxFbnooNRoGxGFcXPB6QU5lce4DOZuJD/jyyNe1igE9n4oPYgduR78vkz0eBgVrgkuQ8j+WAF3FZ9f+S3ouKjUsuVjEP3hqDDqVi/QG+o7qmBTwK7bGUtju0a2t1P4lPOBwzWMA9f29WQfUmj2I/PuJ1LTDJmZ2MDuZwIQdcsaLkhv4M/TtsWwpesVb5/508W4WNDWr/EfsNRql6hlGCsqUAAAAASUVORK5CYII=");

    --svg-link: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QA/wD/AP+gvaeTAAABW0lEQVRIidXUuy5EURTG8V9c4tYo3QqeQjGhoJF4BryFRENCMRQkEjzBFBoi4RnINGg9glvQuhdrk+OEmTND40tOcs5ee//Pt9dee/Ff1fqLte3ow3N6/kQ92MQD3vCIA4z8FtyLagJuYwaLuMElhpsFd+JEOC7lYkPpB/vNwhfwhLEf4ktiR13NwM+xVyM+J86g/2OgpQF4Py7S+zKmcvFR3OO6AeanKhhEOTlcycRKImXrRUCdIsdnyUlF3IkPcDkzd1IcchXd9cC9oipecIi1nONy+l7DEV5xnNbVVE9y8ICJzHgW3JJ2coVTzKOjHpi4eU++1vFKznGlCCivtuR4Kzc+JaoDVsVNbFgDyeFsjTkHIhWFlK3zO5GSnxrQOKaxWxT+nbNb0SuyKomUHSt4eN9pROT0RnS7GeyIHVUVKLd6Ghbd7VGcwR02FLggjahL9JO2v4T+D70DPbJQC7t48KIAAAAASUVORK5CYII=");
    
    --svg-mic: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QA/wD/AP+gvaeTAAABG0lEQVRIie3UPUqDQRDG8Z9JxIAIClFSCBZqIQgqWNmJ4C08QiAXsPICFrmClTewEgtBTCtWFoJR0QsofhbZwGt8PzamCviHYXdndp5dhtllVBmL2FPCPCoJ3zvu8Dns4Wf4SrHTmOQ8ZvGEQ5wn/FtoYg7PWcmVrECgHMYLHKf4y3IoFYgPxb/4QOIPut0QQzPsjxafRjVSvBr2/6KoFXtMYqZv/Wce0QqH30t/oZ0Qb8koS9YLPcIOVjGBXYwn4m84wSuuwnwvVnwZl7pP+wDXfn5SJaxgHzVs4iZDK5V1tKWXpGdtrA0i2s8SttEIgo2wXixKLOqWKjbCfCox1oJ18DL4fbvU5Zelnpdc9J+XsZATv8VH7E1Hh2+hdT72jHxyAQAAAABJRU5ErkJggg==");

    --svg-ovault: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QA/wD/AP+gvaeTAAAB+ElEQVRIid3VTYiOURQH8N87Xpo0YzLN+CjJt4mSmqiRhQUhNVlN8hWJxoKyYmVs7FjYSCk2VpNSbCgbWbCaJE3MQrFAMRhfMz7H4t6nuT1z31eW/Ot27zmd83/+995zz8O/iil/Gb8WXZiOT/haL7hSshuwBM2Z2G6cLPle4QmG4nwLj3IfWoNnGK8z+jEPG3AIZ3AjEn/DTxzIKR/EKPowlvn4NZzFqZwyNOISNqMtigEt0dhXIxHe1SEusDvytBHOGKbF+fsfklN04TYumrijQm0FqtH4IhzJcLT70Ipj+JUhbsJ1vMY6/MDhclCh/DNm4Wa0n+IILicxKTYJW9+BC+iRKetqsu5Be2IPYG9Uvr+UtxojeIi7cYfza5E34jTmZFRuR2/J1yJcsGRuKScWWx7DXOEiKsJ5D0R1W01+iSOYGdetiS9LDicwO67PYTG24H5mNw+i0lVYj7d4nonDRNHvjPYKdJRi0jpvEiplUKi089G/K/K0p8orpXkQj2spEZpWN17gCo7ngooLLR7P1DqEZdzDxpKvEDeekr8Xms9RvJHvLdWML0UjtgnnP1xO2IOrQperhQ6hnhdhGZZieRwLhWM+KGlaKRqEzjcqdLfOZPSZ3IJf4k6M78fKlKz8syjQjI8ZfycWCH1/CB+if0ay/g/wG1S3cd6F5cLIAAAAAElFTkSuQmCC");

    --svg-set: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QA/wD/AP+gvaeTAAACIElEQVRIiZ3VS0tVURQH8N+16yS1hzjoJTcJiqIgIkgK8UGQE+lBRR+gQcMmOewWktBjXCAVNeoDNGkS1SBKSKIIrSiCXjiJKKxRVoO9rh6v96H+4bDPXmet/1p7r8fJWThWIYe/+LEIu7roCcL3+Ik9CzFatkDyQ3iOI2jBcjyrZ9RQQTaID+jOyLZiPN5fYXvmW3foD9ZzNogn6A2yK7gZxhtDpxD7EVzCBPrCrqaDCRyI9yYM4aD515fHMVxAc8j6w74qduMNVtRSqoDmIO7MCssj+op27MP9CtEWMCWVYxbnIqjbWWGlhK6R7q+ERul6PuJOrOfDWQkvsbqcKBdrD3Zim5SczZnohrAJJ/FbKsMbeItiJoB3uCcVwgs8hFZ8x1kcxfqM8zy+BGEWTZiMtYQOKcnF4GuFNrM1XI4OjFb5NootVb6Noy2PaazFcBznMT6H0idsiAh/lUVeyOiJ/V7sCL7phjhCv5Sobjwwm+g/uB5P6QqapDu/lnHYiEfoCp7+4J2HWxjI7PNSdUziaaxFc6vlRDibg3y5AN+kZribib6Iy1gn9cJUmc0uaVrWRBdeS5NvMWiSkthXTSEnDaTe2LfgIg6rPFuOS0VQCqQ37GeQ7dB/uBoG/RgL2YDUIIXQa5caaH8ENBb6w2FfE2fiiNkhNCI1GCl5WZJOaWjVnefVcFrqYBHhqaUSVcKS/qG5+iozWCnlaMF////T2HXWr1lA4gAAAABJRU5ErkJggg==");

    --svg-swi: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QA/wD/AP+gvaeTAAABL0lEQVRIidXUO0sDURCG4SeSSkGwCAoqWFlYa2+nIIJa+QMsBBELy1hojOINLASx8dd4qbQQrBTELpWkEokSYrEbXWKyuRd+MLDnG3jPzLBn+K9KVJyH0NsiK4ePaol+3KLURhSwWq3yTRxgDSvowzaO8IrzBipfxhwGyh0kw8QI3vCCrzDyKOIz/K6nByxhMCzoR6cx7TYbY2Vo0q9ymG+gwlqaxknUiMILuG8DPlpp9LQBq6uuwpMxuXEsVng3uO4E/BnDWI94O83A48ZSwgbuGoU1A4ddTGrxL4qDZ5DGMaZw1soFBC/0KnLOCsaSjXgJTMQwFtR4oY/Yj4DT2MMWUrgQbM44pSqNMvyyBjghWKNF9ZdXHk94r5bMCNo6rANpWjP+zrijmu0WuCv6BraoWTpkkEy5AAAAAElFTkSuQmCC");

    --svg-tem: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QA/wD/AP+gvaeTAAABS0lEQVRIidXVPUscURjF8V8SLYJvbCOKitrYRGEh+AUsbWzUxsaAhQg2VnbW6YSksRDs/Ap+AhHc2NibYkVEJOBGXdQiFnNXx+Eu7OxGwQMX5j6H+7+Hh5lneK/6kNn343OTrHPcxoxuHOBfC+seK7Hka/iOZVSaTD6LGRRQhbZgDOEU28H8mgNawaEk+Tz68DsNT+sHFnKmnowVP0ZqHTnBdc/Ekm/hIge4iiNMNQLfC6tlxdqygT+ZdYx2yRtxmfHKGI3BY8mL+IvdsJ/AtKSv4+jEZvB68Q3DjcLhBOvheTHAa6qmvGKARxVry3/Tq8LrtaXL81c6kvE+pbyxvPCbcLiUqj1IPu/rcHEpc+YaPY3AV7GTqZ1JxulP/Arpa6qE2kA9eBmDWMJV5MICvkTqNW8Yc7iTzPUX6sK+1ub5nWRkP+lN/kTvT48jJlr2egzAYwAAAABJRU5ErkJggg==");

    --svg-vault: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QA/wD/AP+gvaeTAAABb0lEQVRIie3Vv0uVURgH8M8NvdcGvUvSINWgiw1NXYgc6k9wycXl0tiSi44Kjra01FpLSxGNjjpEQ+CiEIJCesFBcAsqFLwO57xwupy3e30jaOgLh/O+z4/vec5znvMc/iODWs//FUxhtALXN+zjPKds4RDdPxgHuJuL/At+YAU/K0Q+gtU4304VzbhyuwJpinbkaRJyDPU4n/3GsYZH+IDPeIMHPTaFfz0l74caXuEtJtHBPWxgqZ/zuLCdeVzHFiYSfbHdp4lsCC+F6mhF2Xy0Gy8jb8XvmUS/iY+ZoOo4xosc+aBpuYmdjPwUu7iVcxqUvIM7GXkD08L9GIj8CNuRsMBr3MdCIhvGc1yL+lKkOc+hqJaukJ73+CocZlotlXLexWPMYQ838AkPsVbmNBTnoviH+yzwLo4yFP5n/NpbdvEdy6r1lqtCb2no6S385a5IOINneIJZnAwQ8RjWhYu0qKSfp7jsYzF2Sft/HBdH3WeTIBSyagAAAABJRU5ErkJggg==");

    --svg-work: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QA/wD/AP+gvaeTAAABqklEQVRIidXUPUiVURzH8U9xEyQj7Q2LhoYQpBrCLQIdcpFAiJaCQIIaw6UtJAiCIKiloanlDhEoDdES4dJSJCJtOYT0ai8iIWImXofzPPTc47nXG96GfnA4nP/5n+/5vzzP4R9qC1pwEYeawPuNJ3iZw8s4jxmsbhK+E+04gVewiBubhOZqwQ/chBJaM0MJ99CROPQZw+jBVSHjWA8xhp8Z09bC5kFcRld2QT6O4IqQ8mmcifY7cAoX4ttKiQiu43FhPYQHhfUC+qMz4wlOFbySzbdxrWDfHfnswOuI04Xn9eDvcUu65l8wj1Hst77mE0K916kiNKtZeoc7VDe0DdOYS4w32Iaz+F7DZyS+pViWPTgspDddsB/DALbjaBbE3YhzDsfrwXON4Wl0cKCwXhJ6U9TJBKcKvpzN5YTfKlbwS/je5xI+j+rBP2EQnYmDM8L3fR+z0hk/S8G/oRcv8DEbKfVk81SN/V1CzzrxNTdeEp7KSpPGW+zjz89wAN3SD9LfaAGTQm9qwvairwHYvEStN1KfxkowWQ9SK/JW4Q3ZSMv40Fi8/5PWAIlub3x7eTAoAAAAAElFTkSuQmCC");

    --svg-zet: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QA/wD/AP+gvaeTAAABCklEQVRIie3VMUoDQRjF8Z/RqEVQhAhiZWNlq40HsBZBPYl4gFTiBbyDYJdGcgNrKy1sFAsRFAQDJrHY2bAaNs6shQo+GAb2e99/HjvwDX9VE2NqTcxFMJ7xEHtgA20MElY79I1NXsMZtnCI+4gwSzjCOXbQLzO2QnEvAlrUfuhrFT8WkzfwiB4uE+Gwhkks4AWmCsUm6rjAbQV4F5tYzOFFrcguZ7sCWOgbBA4+Ji/TPHZll52rj1M8jWuMgW/gRPY/c/Vwg8534Z1I34hqX1uq6x/+s/Bu2KcrsmY+cUam4rVsPh/jLQFcx4FsPq2WmdbDASmzPF9XoX+ospdoGbMJyV9xl+D/5XoHuc9AZkztWrAAAAAASUVORK5CYII=");
}    

/* @ BOBA MILK TEA C: MARKDOWN*/
.theme-light.milk-tea {
    --fbold: rgb(165, 76, 34);
    --fitalic: rgb(24, 128, 114);
    --flink: rgb(180, 107, 23);
    --fcode: var(--pink4);
    --hlbg: rgba(231, 203, 171, 0.87);
    --comcolor: rgb(160, 131, 104);

    /* # Header Colors*/
    --head1: var(--fgrad8);
    --head2: var(--fgrad7);
    --head3: var(--fgrad6);
    --head4: var(--cream3);
    --head5: var(--brown3);
    --head6: var(--brown6);

    /* # Tags*/
    --tborder: rgb(134, 98, 29);
    --tb4: " ";
    --tcolor: rgb(48, 31, 6);
    --tcol1: rgb(43, 21, 9);
    --tcol2: rgb(58, 37, 5);
    --tcol3: rgb(58, 33, 5);

    /* # Bullets/Numbers*/
    --blcol: rgb(0, 0, 0);
    --bul-b4: "⚈";

    /* # Checklist*/
    --checkcol: rgba(0, 0, 0, 0.733);;
    --cshad: 1px 1px 2px #7c550c;

    --untask: rgb(29, 71, 94);
    --task: rgb(48, 24, 4);

    /* # Blockquotes*/
    --bq-col: var(--brown4);
    --equote: var(--brown4);

    /* # Table*/
    --thead: rgb(201, 155, 95);
    --td: rgb(134, 96, 24);
    --tbcol1: rgba(238, 201, 158, 0.555);
    --tbcol2: rgba(243, 220, 194, 0.589);
    --tbcol3: rgba(250, 225, 193, 0.63);
    --thov:  rgb(207, 173, 123);

    --todd: var(--brown1);
    --teven: var(--brown3);
    --ttext: var(--brown4);

    /* # HR*/
    --hrcon: "°ₒ৹๐";
    --hrcol: rgb(0, 0, 0);
    --hrtrans: translate(-50%, -50%) rotate(0deg);

    /* # Progress Bars*/
    --prcol2: var(--dp1);
    --prcol1: var(--dp2);
    --prcol3: var(--dp3);
    --prcol4: var(--dp4);
    --prcol5: var(--dp5);
    --prcol6: var(--dp6);
    --prcol7: var(--dp7);
    --prcol8: var(--dp8);
    --prcol9: var(--dp9);
    --prcol10: var(--dp10);
    --prbg: rgba(235, 217, 232, 0.726);

    /* # Cite*/
    --ctcol: rgb(0, 24, 4);
    --ctcon: var(--brown4);
    --ct-a4: "⚈ ";
    --ct-b4: " ⚈";
}

/* @ BOBA MILK TEA D: Additional Snippets*/
.theme-light.milk-tea {
    --kodd: rgb(192, 163, 125);
    --keven: rgb(216, 182, 120);
    --khov: rgb(221, 175, 115);

    --metacon1: "⚈";
    --metacon2: "⚈";
    --metacol1: var(--brown8);
    --metacol2: var(--brown1);
    --hfm-bc: var(--brown1);

    --lpcol: rgb(153, 111, 33);
    --lb-bg: rgb(248, 232, 217);
    --lpgif: url("https://github.com/Emrie-Candera/Bubble-Space-Theme/blob/main/theme%20image/cute%20pupper.gif?raw=true");
}

.theme-light.milk-tea .day.svelte-q3wqg9:hover,
.theme-light.milk-tea .day.svelte-3pptg2:hover {
    color: var(--cream5) !important;
}

/* @ BOBA MILK TEA E: Plugins*/
.theme-light.milk-tea  {
    --adico: rgb(107, 63, 12);
    --adshad: rgba(119, 100, 62, 0.795);

    --fico: rgb(255, 255, 255);
    --subfico: rgb(156, 89, 34);

    --calcol: var(--brown4);
    --calshad: 1px 0px 10px 1px rgb(90, 56, 11);
    --calbor: black solid 2px;
    --calbg: vaR(--brown4);

    --dpline: var(--brown1);
    --dpdot: var(--brown4);
    --dptitle: var(--brown4);
    --dpnow: var(--brown4);
    --dphov: var(--cream2);
    --dpshad: 0px 0px 52px -18px rgba(102, 63, 18, 0.75);

    --dp1: #c99f77;
    --dp2: #c79e7a;
    --dp3: #c89d78;
    --dp4: #b58b68;
    --dp5: #a37a59;
    --dp6: #9c7252;
    --dp7: #9c6f4c;
    --dp8: #8d6447;
    --dp9: #a16540;
    --dp10: #915835;

    --checkcol2: rgb(63, 31, 5);
    --chbg: rgb(243, 225, 177);

    --msbg: var(--brown4);
}
