/*BMT 1: Basic Colors*/
.theme-light.milk-tea {
    --background-primary: var(--cream6);
    --background-secondary: var(--cream7);
    --background-secondary-alt: var(--cream1);
    --background-modifier-border: var(--cream2);

    --text-accent: var(--brown1);
    --text-accent-hover: var(--brown1);

    --text-highlight-bg: var(--brown2);
    --text-selection: var(--brown2);
    --text-error: var(--pink5);

    --interactive-accent: var(--cream3);
    --interactive-hover: var(--cream3);
    --interactive-accent-hover: var(--cream3);
}

/*BMT 2: Specific Panes (Core Plugins) */

    /*BMT 2.1 File Explorer*/
        /*Header Image*/
        .theme-light.milk-tea .workspace-leaf-content[data-type="file-explorer"] .nav-header::after {
            background: center/ contain no-repeat url("https://cdn-icons.flaticon.com/png/512/5821/premium/5821159.png?token=exp=1639144863~hmac=25e3f7d1a5d88d10bfb469ce8663f063");
            height: 60px !important;
            margin-top: 0px;
            margin-bottom: -20px;
            transform: rotate(30deg);
            }
    

        /*Vault Title*/
        .theme-light.milk-tea .nav-folder.mod-root > .nav-file-title,
        .theme-light.milk-tea .nav-folder.mod-root > .nav-folder-title {
            background: var(--gray2);
            background: linear-gradient(to top, var(--brown3) 0%, black 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: -5px;
        }   

        /*Folder Colors*/
        .theme-light.milk-tea {
            --lgrad1: rgba(196, 142, 26, 0.616); 
            --lgrad2: rgba(226, 154, 60, 0.596);
            --lgrad3: rgba(196, 140, 57, 0.671);
            --lgrad4: rgba(212, 147, 48, 0.74);
            --lgrad5: rgba(167, 130, 52, 0.863);
            --lgrad6: rgb(141, 98, 35);
            --lgrad7: rgba(112, 60, 17, 0.932);
            --lgrad8: rgba(54, 40, 27, 0.836);
        }
    
        .theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n+7)>.nav-folder-title{
        color: var(--cream5) !important;}
        .theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n+7)>.nav-folder-title + .nav-folder-children{
        color: var(--cream1);
        }
    
        .theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n)>.nav-folder-title{
        color: var(--cream5) !important;}
        .theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n).nav-folder-title + .nav-folder-children {
        color: var(--cream1);
        }
    
        .theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n+1)>.nav-folder-title{
        color: var(--cream5) !important;}
        .theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n+1)>.nav-folder-title + .nav-folder-children{
        color: var(--cream1) !important;
        }

        /*Nav Action Buttons*/
        .theme-light.milk-tea .nav-buttons-container .nav-action-button {
            color: var(--brown4);
        }

        /*Collapse Icon*/
        .theme-light.milk-tea .collapse-icon svg {
            color: var(--brown5) !important;
        }
    
    /*BMT 2.2 Graph*/
    .theme-light.milk-tea .graph-view.color-fill {
        color: var(--brown1) !important;
    }

    .theme-light.milk-tea .graph-view.color-line {
        color: var(--brown1);
    }

    .theme-light.milk-tea .graph-view.color-fill-highlight {
        color: white;
    }

    .theme-light.milk-tea .graph-view.color-fill-unresolved {
        color: var(--brown1);
    }
    .theme-light.milk-tea.graph-view.color-line-highlight {
        color: var(--pink5);
    }

    .theme-light.milk-tea .graph-view.color-fill-tag {
        color: var(--pink3);
    }

    /*BMT 2.3 Search Pane*/
    .theme-light.milk-tea .workspace-leaf-content[data-type="search"] .search-result-file-match,
    .theme-light.milk-tea .workspace-leaf-content[data-type="search"] .tree-item-inner {
        color: var(--brown4) !important;
    }

    /*BMT 2.4 Tag Pane*/
    .theme-light.milk-tea .tag-container .tree-item .tree-item-self {
        color: var(--lblue5) !important;
    }

    /*counter*/
    .theme-light.milk-tea .tag-container .tree-item .tree-item-flair {
        border: solid 2px var(--brown8);
        color: var(--brown4);
    }

    .theme-light.milk-tea .tag-container .tree-item >.tree-item-children .tree-item .tree-item-flair {
    border: solid 2px var(--brown1);
    color: var(--brown1);
    background-color: var(--background-secondary);
    }
    
    .theme-light.milk-tea .tag-container .tree-item >.tree-item-children .tree-item  >.tree-item-children .tree-item .tree-item-flair {
    border: solid 2px var(--teal1);
    color: var(--teal3);
    background-color: var(--background-secondary);
    }

    /*gradient #*/
    .theme-light.milk-tea .tag-container .tree-item .tree-item-self .tree-item-inner::before {
        color: var(--brown4);}
        
        .theme-light.milk-tea .tag-container .tree-item .tree-item-self .tree-item-inner {
        color: var(--brown4);
        border-bottom: 1px solid var(--brown4);
        }
        
    .theme-light.milk-tea .tag-container .tree-item .tree-item-self:hover {
        background-color: var(--brown1);
    }

    .theme-light.milk-tea .tag-container .tree-item .tree-item-self .tree-item-inner:hover,
    .theme-light.milk-tea .tag-container .tree-item >.tree-item-children .tree-item-self .tree-item-inner:hover,
    .theme-light.milk-tea .tag-container .tree-item >.tree-item-children >.tree-item > .tree-item-children .tree-item-self .tree-item-inner:hover {
        text-shadow: none;
        color: white;
    }

    .theme-light.milk-tea .tag-container .tree-item >.tree-item-children .tree-item-self .tree-item-inner::before{
        content: "#" ;
        color: var(--brown1);
    }
    
    .theme-light.milk-tea .tag-container .tree-item >.tree-item-children .tree-item-self .tree-item-inner {
        color: var(--brown1);
        border-bottom: none;
    }

    .theme-light.milk-tea .tag-container .tree-item >.tree-item-children >.tree-item > .tree-item-children .tree-item-self .tree-item-inner {
        font-size: 1.1em;
        color: var(--teal1);
    }
    
    .theme-light.milk-tea .tag-container .tree-item >.tree-item-children >.tree-item > .tree-item-children .tree-item-self .tree-item-inner::before {
        color: var(--teal1);
    }

    /*BMT 2.5 Outline Pane*/

    /*BMT 2.6 Prompt*/
    .theme-light.milk-tea .prompt .suggestion-item:nth-child(8n+5):hover {
        color: var(--cream5);
     }

    .theme-light.milk-tea .prompt .suggestion-item:nth-child(8n+6):hover {
        color: var(--cream5);
     }

    .theme-light.milk-tea .prompt .suggestion-item:nth-child(8n+7):hover {
        color: var(--cream5);
    }
    
    .theme-light.milk-tea .prompt .suggestion-item:nth-child(8n):hover {
       color: var(--cream5);
    }

/*BMT 3: Text Colors*/
    
    /*Header Colors*/
    .theme-light.milk-tea {
        --lheader1: var(--lgrad8);
        --lheader2: var(--lgrad7);
        --lheader3: var(--lgrad6);
        --lheader4: var(--cream3);
        --lheader5: var(--brown3);
        --lheader6: var(--brown6);
    }

    /*Bold*/
    .theme-light.milk-tea .cm-s-obsidian .cm-strong, 
    .theme-light.milk-tea strong {
    color: var(--green7);
    }

    /*Italics*/
    .theme-light.milk-tea .cm-em, 
    .theme-light.milk-tea em {
    color: var(--pink1);
    font-weight: bold;
    }

    /*Links*/
    .theme-light.milk-tea .cm-hmd-internal-link, 
    .theme-light.milk-tea .modal-content a,
    .theme-light.milk-tea .markdown-preview-view a.footnote-link,
    .theme-light.milk-tea .markdown-preview-view a.internal-link,
    .theme-light.milk-tea .markdown-preview-view a.external-link {
    color: var(--brown5) !important;
    font-weight: bold;
    }
    
    /*Inline Code*/
    .theme-light.milk-tea .cm-s-obsidian span.cm-inline-code, 
    .theme-light.milk-tea .markdown-preview-view code {
    color: var(--purple4);
    }

    .theme-light.milk-tea .markdown-preview-view code {
    font-weight: bold;
    }

    /*Comment*/
    .theme-light.milk-tea .cm-s-obsidian span.cm-comment {
    color: var(--pink6);
    font-weight: 700 ;
    }


/*BMT 4: Workspace Layout*/
    /*Active Note Pane*/
    .theme-light.milk-tea .workspace-leaf.mod-active .view-header {
        background: var(--cream2);
        background: linear-gradient(90deg, var(--gold3) 5%, var(--brown2) 18%, var(--cream2) 45%, transparent 90%, transparent 95%);
        border-bottom: none;
        border-radius: 15px;
        margin-top: 2px;
    }

    .theme-light.milk-tea .workspace-leaf.mod-active .view-header-icon {
        color: var(--brown4);
    }

    /*Search Bar*/
    .theme-light.milk-tea .document-search-container {
        background-color: var(--brown5);
        border-radius: 20px;
    }

    .theme-light.milk-tea .document-search-button {
        background-color: var(--cream4);
        color: var(--text-normal);
    }
    
    /*Frontmatter*/
    .theme-light.milk-tea .frontmatter-container {
        border: 2px solid var(--cream2); 
        color: black;
    }

    .theme-light.milk-tea .frontmatter-container-header {
        background-color: var(--cream2);
        color: rgb(70, 63, 63);
    }

    /*Sidepanes*/

    .theme-light.milk-tea .workspace-tab-header,
    .theme-light.milk-tea .workspace-tab-header.is-after-active,
    .theme-light.milk-tea .workspace-tab-header.is-before-active {
        color: var(--brown4);
    }

    .theme-light.milk-tea .workspace-tab-header.is-active {
        border: 2px solid var(--brown4);
        background-color: var(--brown4);
        color: var(--cream1);
    }

    /*Side Dock Ribbon*/

    .theme-light.milk-tea .side-dock-ribbon-action,
    .theme-light.milk-tea .workspace-ribbon-collapse-btn {
        color: var(--brown4);
    }

    /*collapsed side dock*/
    .theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action {
        border: var(--brown4) 1px solid;
        background-color: var(--brown4);
        box-shadow: inset -4px -4px 4px -3px var(--brown5);
        color: wheat;
    }

    .theme-light.milk-tea .workspace-ribbon.is-collapsed .side-dock-ribbon-action:hover {
        background-color: var(--brown1);
        border: none;
        box-shadow: inset -4px -4px 4px -3px var(--brown3);
    }

    /*Status Bar*/
    .theme-light.milk-tea .status-bar {
        border-top: var(--cream3) solid 1px;
        color: var(--brown4);
    }

/*BMT 5: Settings*/
    /*BMT 5.1: Settings*/
    .theme-light.milk-tea .modal.mod-settings .vertical-tab-header,
    .theme-light.milk-tea .vertical-tab-nav-item {
        background-color: var(--cream4);
        border-radius: 20px;
    }

    .theme-light.milk-tea .vertical-tab-nav-item.is-active {
        background-color: var(--brown6);
        color: white;
        border-radius: 10px;
    }

    .theme-light.milk-tea .vertical-tab-header-group-title {
        background-color: var(--brown7);

    }

    /*BMT 5.2: Theme Store*/
        .theme-light.milk-tea .modal-title {
            color: var(--brown4);
        }

        /*Border and Title Color*/
        .theme-light.milk-tea .community-theme:nth-child(3n+1) {
            border: var(--brown9) 3px solid;
            color: var(--brown9);
        }

        .theme-light.milk-tea .community-theme:nth-child(3n+2) {
            border: var(--brown8) 3px solid;
            color: var(--brown8);
        }

        .theme-light.milk-tea .community-theme:nth-child(3n) {
            border: var(--brown4) 3px solid;
            color: var(--brown4);
        }
        
        /*Button Color*/
        .theme-light.milk-tea .community-theme:nth-child(3n+1) button.mod-cta {
            background-color: var(--brown9);
            color: white;
        }

        .theme-light.milk-tea .community-theme:nth-child(3n+2) button.mod-cta {
            background-color: var(--brown8);
            color: white;
        }

        .theme-light.milk-tea .community-theme:nth-child(3n) button.mod-cta{
            background-color: var(--brown4);
            color: white;
        }

        /*Hover*/
        .theme-light.milk-tea .community-theme:nth-child(3n+1):hover {
            background-color: var(--brown9);
            transform: scale(1.05);
            color: wheat;
        }

        .theme-light.milk-tea .community-theme:nth-child(3n+2):hover {
            background-color: var(--brown8);
            transform: scale(1.05);
            color: var(--cream5);
        }

        .theme-light.milk-tea .community-theme:nth-child(3n):hover {
            background-color: var(--brown4);
            transform: scale(1.05);
            color: var(--cream5);
        }

        .theme-light.milk-tea .community-theme:hover button {
            background-color: var(--cream4);
            color: var(--brown4);
        }

        .theme-light.milk-tea .community-theme button {
            color: var(--brown4);
        }
        .theme-light.milk-tea .community-theme:hover .community-theme-info,
        .theme-light.milk-tea .community-theme:hover .community-theme-downloads,
        .theme-light.milk-tea .community-theme:hover .clickable-icon {
            color: var(--cream1);
        }

        .theme-light.milk-tea .community-theme:hover .community-theme-remove-button {
            color: var(--brown4) !important;
            background-color: var(--cream4) !important;
        }

        /*Selected Color*/
        .theme-light.milk-tea .community-theme.is-selected {
            background-color: var(--background-secondary);
            border: var(--brown8) solid 4px;
            color: var(--brown4);
        }

        .theme-light.milk-tea .community-theme.is-selected{
            background-color: var(--background-primary);
            color: var(--brown1);
        }


        .theme-light.milk-tea .community-theme.is-selected button {
            background-color: var(--brown1) !important;
            color: var(--cream5);
        }


        .theme-light.milk-tea .community-theme.is-selected:hover {
            background-color: var(--brown1);
            border: var(--brown1) solid 4px;
            color: var(--cream5);
        }

        .theme-light.milk-tea .community-theme.is-selected:hover button{
            background-color: var(--brown8) !important;
            color: var(--cream5);
        }

    /*BMT 5.3 Plugin Store*/
        .theme-light.milk-tea .community-plugin-search {
            background-color: var(--cream5);
        }

        /*Border and Title Color*/
        .theme-light.milk-tea .community-plugin-item:nth-child(3n+1) {
            border: var(--brown9) 3px solid;
            color: var(--brown9);
        }

        .theme-light.milk-tea .community-plugin-item:nth-child(3n+2) {
            border: var(--brown8) 3px solid;
            color: var(--brown8);
        }

        .theme-light.milk-tea .community-plugin-item:nth-child(3n) {
            border: var(--brown4) 3px solid;
            color: var(--brown4);
        }

        /*Hover*/
        .theme-light.milk-tea .community-plugin-item:nth-child(3n+1):hover {
            background-color: var(--brown9);
            transform: scale(0.98);
            color: black;
        }

        .theme-light.milk-tea .community-plugin-item:nth-child(3n+2):hover {
            background-color: var(--brown8);
            transform: scale(0.98);
            color: black;
        }

        .theme-light.milk-tea .community-plugin-item:nth-child(3n):hover,
        .theme-light.milk-tea .community-plugin-item:nth-child(3n):hover .community-plugin-desc  {
            background-color: var(--brown4);
            transform: scale(0.98);
            color: var(--cream5);
        }

/*BMT 6: Other Elements*/
    /*Scrollbar*/
    .theme-light.milk-tea ::-webkit-scrollbar-thumb {
        background-color: var(--background-secondary);
        border: 2px solid var(--brown3);
        }

    /*Sliders*/
    .theme-light.milk-tea input[type="range"] {
        background-color: var(--brown2);
    }

    .theme-light.milk-tea input[type="range"]::-webkit-slider-thumb {
        background-color: var(--brown4);
    }

    /*Notice*/
    .theme-light.milk-tea .notice {
        background-color: var(--teal2);
        box-shadow: 5px 5px 20px -2px var(--teal3);
    }

    /*Toggle*/
    .theme-light.milk-tea .checkbox-container::after {
        content: "⚈";
        background-color: transparent !important;
        top: -5px;
        left: -2px;
        font-size: 25px;
        transform: rotate(0deg);
    }
    
    .theme-light.milk-tea .checkbox-container.is-enabled::after {
        content: "⚈";
        background-color: transparent !important;
        top: -3px;
        left: 13px;
        font-size: 30px;
        transform: rotate(340deg);
    }

    .theme-light.milk-tea .checkbox-container.is-enabled {
        background-color: var(--lgrad4);
    }

    /*HR*/
    .theme-light.milk-tea div:not(.CodeMirror-activeline) > .CodeMirror-line.HyperMD-hr::before {
    content: '';
    background: var(--brown1);
    }


    .theme-light.milk-tea div:not(.CodeMirror-activeline) > .CodeMirror-line.HyperMD-hr::after {
    content: " °ₒ৹๐";
    font-size: 25px;
    color: black !important;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 50% 50%;
    }

    .theme-light.milk-tea .markdown-preview-view hr {
    color: black;
    }

    .theme-light.milk-tea .markdown-preview-view hr::after {
    content: "°ₒ৹๐";
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 50% 50%;
    color: black !important;
    }

    /*Aside*/
    .theme-light.milk-tea aside:hover {
    border: 1px solid var(--brown4);
    border-right: 4px solid var(--brown4);
    border-bottom: 4px solid var(--brown4);
    }

    /*Tags Edit*/
    .theme-light.milk-tea .cm-s-obsidian span.cm-hashtag {
    background: rgb(237,255,255);
    background: radial-gradient(circle, var(--cream5) 69%, vaR(--cream4) 100%);
    color: var(--brown1);
    border-top: var(--brown1) 1px solid;
    border-bottom: var(--brown1) 1px solid;
    }

    .theme-light.milk-tea .cm-s-obsidian span.cm-hashtag-end {
    border-right: var(--brown1) 1px solid;
    }

    /*Tags Preview*/
    .theme-light.milk-tea .tag {
    background: var(--brown4);
    background: radial-gradient(circle, var(--brown4) 69%, var(--brown4) 100%);
    border: 1px solid var(--brown1);
    color: var(--cream5);
    padding: none !important;
    }

    .theme-light.milk-tea .tag:hover {
    color: black;
    background-color: var(--peach1) !important;
    border: var(--peach2) 1px solid !important;
    }

    /*Quotes*/
    .theme-light.milk-tea div:not(.CodeMirror-activeline)>.HyperMD-quote {
        background-color: var(--cream5); 
        border-color: var(--cream3)!important; 
    }

    .theme-light.milk-tea .markdown-preview-view blockquote {
        border-left: 0.2em solid black;
        border-top: 0.1em solid black;
        border-bottom: 0.2em solid black;
        border-right: 0.1em solid black;
        
        box-shadow: 0px 2px 2px 0px  black;

    }

    .theme-light.milk-tea .markdown-preview-view blockquote:hover:before {
        background: black;
        color: var(--cream5);
    }

    /*HTML*/
    .theme-light.milk-tea cite {
        color: var(--brown4);
    }

    .theme-light.milk-tea cite::before,
    .theme-light.milk-tea cite::after {
        content: "⚈";
        color: black;
        padding: 8px;
        font-size: 25px;
    }

    /*Codeblock*/
    .theme-light.milk-tea .cm-s-obsidian .HyperMD-codeblock {
        line-height: 1.3;
        color: var(--purple4) !important;
        font-size: 0.85em;
        background-color: var(--cream5);
        }

    /*Table*/
    .theme-light.milk-tea table {
        background-color: var(--brown2);
        border: var(--brown1) 1px solid !important;
    }

    .theme-light.milk-tea tr:nth-child(6n+1) {
        background-color: var(--brown2) !important;
    }

    .theme-light.milk-tea table thead th:hover,
    .theme-light.milk-tea table thead tr:hover,
    .theme-light.milk-tea table th:hover,
    .theme-light.milk-tea table tr:hover {
    background-color: var(--brown3);
    }

    .theme-light.milk-tea .markdown-preview-view table th,
    .theme-light.milk-tea .markdown-preview-view table td {
        border-color: var(--brown1);
    }

    /*Lists*/
    .theme-light.milk-tea .cm-hmd-list-indent .cm-tab::before, 
    .theme-light.milk-tea ul ul::before {
    content:'';
    border-left: 1px solid var(--cream3);
    position: absolute;
    }

    .theme-light.milk-tea span.cm-formatting-list-ul:after {
        content: "⚈";
        color: var(--brown4);
        font-size: 15px;
        }

        .theme-light.milk-tea ul li::marker {
            color: var(--brown8);
            }

    /*Checklist Preview*/
    .theme-light.milk-tea .markdown-preview-view .task-list-item-checkbox::before {
        color: rgb(58, 13, 13);
        text-shadow: 1px 2px 2px #11043686;
    }
    
    .theme-light.milk-tea .markdown-preview-view .task-list-item-checkbox:checked:before {
        color: rgb(92, 32, 18);
    }

    /*Checklist Edit*/
    .theme-light.milk-tea .cm-s-obsidian span.cm-formatting-task {
        color: var(--brown1);
    }

    .theme-light.milk-tea .cm-s-obsidian span.cm-formatting-task.cm-property {
        color: var(--brown4);
        font-weight: bolder;
    }


/*BMT 7: Additional*/
    /*Pseudo Kanban*/
    
    .theme-light.milk-tea .kanban ul ul li:nth-child(even) {
        background: var(--cream3) !important;
        color: white;
      }
      
      .theme-light.milk-tea .kanban ul ul li:nth-child(odd) {
        background: var(--brown8) !important;
        color: white;
      }

    /*Loading Page*/

/*BMT8- Plugins*/
    /*Icon Folder Plugin*/
    /*subfolder icons as light blue*/
    .theme-light.milk-tea .obsidian-icon-folder-icon {
        color: var(--brown1);
        }
            
        .theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n+7)>.nav-folder-title .obsidian-icon-folder-icon,
        .theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n)>.nav-folder-title .obsidian-icon-folder-icon,
        .theme-light.milk-tea .nav-folder.mod-root>.nav-folder-children>.nav-folder:nth-child(8n+1)>.nav-folder-title .obsidian-icon-folder-icon{
            color: var(--cream5) !important;}
    
        /*Calendar Plugin*/
        .theme-light.milk-tea .day.svelte-q3wqg9 {
            color: var(--brown4) !important;
            font-weight: bolder;
            font-size: 1em !important;
            height: 40px !important;
        }
    
        .theme-light.milk-tea .day.svelte-q3wqg9:hover {
        box-shadow: 1px 0px 15px 1px var(--brown2);
            border: var(--brown2) solid 2px !important;
            background-color: black !important;
            color: var(--cream5) !important;
        }
    
    
        .theme-light.milk-tea th.svelte-pcimu8 {
            color: black;
        }
    
        /*Fantasy Calendar*/
        .theme-light.milk-tea .fantasy-title.svelte-10wwl4f {
            color: var(--brown4);
        }
    
        .theme-light.milk-tea .day.svelte-3pptg2 {
            color: var(--brown4) !important;
        }
    
        .theme-light.milk-tea .day.svelte-3pptg2:hover {
            box-shadow: 1px 0px 15px 1px var(--brown2);
            border: var(--brown2) solid 2px !important;
            background-color: black !important;
            color: var(--cream5) !important;
            clip-path: circle(50% at 50% 50%);
            width: 40px;
            height: 50px;
        }
    
        /*Rich Links*/
        .theme-light.milk-tea .rich-link-card {
            border: 3px solid var(--brown5);
        }
    
        .theme-light.milk-tea h1.rich-link-card-title {
            color: var(--brown5) !important; }
    
        /*Daily Stats*/
        .theme-light.milk-tea .color-empty {
            fill: rgb(240, 251, 252);
        }
    
        .theme-light.milk-tea text {
            fill: var(--brown4);
        }

 
    /* Day Planner*/

    .theme-light .aside__line {
        background: var(--brown1) !important;
        left: 35px !important;
      }
      
    .theme-light  .ei_Dot {
        background-color: var(--brown4)!important;
        left: 28px !important;
      }

    .theme-light.milk-tea .ei_Title {
        color: var(--brown4) !important;
        font-weight: bold;
    }
    
    .theme-light.milk-tea .event_item {
      overflow: hidden !important;
    }
    
    .theme-light.milk-tea #now-line, .theme-light.milk-tea .timeline-time {
      background-color: var(--brown1) !important;
    }
    
    .theme-light.milk-tea .event_item:hover {
      background-color: var(--cream2) !important;
      box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    }
    
    .theme-light.milk-tea .event_item_color1 {
      background-color: #c99f77 !important;
    }
    
    .theme-light.milk-tea .event_item_color2 {
      background-color: #c79e7a !important;
    }
    
    .theme-light.milk-tea .event_item_color3 {
      background-color: #c89d78 !important;
    }
    
    .theme-light.milk-tea .event_item_color4 {
      background-color: #b58b68 !important;
    }
    
    .theme-light.milk-tea .event_item_color5 {
      background-color: #a37a59 !important;
    }
    
    .theme-light.milk-tea .event_item_color6 {
      background-color: #9c7252 !important;
    }
    
    .theme-light.milk-tea .event_item_color7 {
      background-color: #9c6f4c !important;
    }
    
    .theme-light.milk-tea .event_item_color8 {
      background-color: #8d6447 !important;
    }
    
    .theme-light.milk-tea .event_item_color9 {
      background-color: #a16540 !important;
    }
    
    .theme-light.milk-tea .event_item_color10 {
      background-color: #915835 !important;
    }