
/* ─────────────── COMMON B6- Themed Loading Pages ────────────────── */

/*B6.1 Dark Mode (Space)*/
.theme-dark .progress-bar-message::before {
    content: ""; display: block;
    
    background: center / contain no-repeat url("https://github.com/Emrie-Candera/Bubble-Space-Theme/blob/main/theme%20image/Astronaut.gif?raw=true");

    width: 600px; height: 300px;

    margin-left: 0; margin-right: 0;
    margin-top: -10px; margin-bottom: 0px;

    border-radius: none
    ;
  }

  .theme-dark .progress-bar-message {
    font-family: var(--font-var-space-header);
    font-size: 30px;
  }

  .theme-dark .progress-bar-line {
    background-color: var(--grad4);
  }

  .theme-dark .proress-bar-subline {
      background-color: var(--gold3);
  }

  .theme-dark .progress-bar {
    background-color: #2a043f;
    ;
  }

/*B6.2 Light Mode (Bubble)*/
  .theme-light .progress-bar-message::before {
    content: ""; display: block;
    
    background: center / contain no-repeat url("https://github.com/Emrie-Candera/Bubble-Space-Theme/blob/main/theme%20image/cute%20pupper.gif?raw=true");

    width: 600px; height: 300px;

    margin-left: 0; margin-right: 0;
    margin-top: -10px; margin-bottom: -80px;

    border-radius: none
    ;
  }

  .theme-light .progress-bar-message {
    font-family: var(--font-reg);
    font-size: 30px;
    font-weight: bolder;
    color: white;
  }

  .theme-light .progress-bar-line {
    background-color:rgb(219, 232, 243);
  }

  .theme-light .proress-bar-subline {
      background-color: rgb(255, 255, 255);
  }

  .theme-light .progress-bar {
    background-color: rgb(106, 172, 216)
    ;
  }



